* {
  margin: 0;
}

body {
  margin: 0;
}

#colorPickerHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 25px 14px;
}

#colorscheme {
  display: flex;

  margin: 0 auto;
}
#container {
  width: 100%;
}

p {
  height: 55vh;
  text-align: center;
  padding: 50px;
}

#hexvalue {
  height: 8vh;
}

li {
  list-style: none;
}

.dropdown-codemode {
  display: none;
}

a {
  text-decoration: none;
}
