* {
  margin: 0;
}

body {
}

#colorPickerHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 25px 14px;
}

#colorscheme {
  display: flex;
  justify-content: space-between;
}

.color-container {
  border: red solid 2px;
  height: 70vh;
  width: 100%;
}

li {
  list-style: none;
}

.dropdown-codemode {
  display: none;
}

.active {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}
