* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mukta", sans-serif;
  max-width: 550px;
  background-color: #f8f8f8;
  margin: 0 auto;
}

#header {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1em;
}
#colorMode {
  font-family: "Mukta", sans-serif;
  line-height: 1.25em;
  padding: 4px;
  font-size: 0.9rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border: none;
  background-color: #fff;
  border: 1px solid #d1d5db;
  border-radius: 6px;
}
.hexNumber {
  text-align: center;
  font-size: 0.85em;
  margin-top: 0.5em;
}

.hexNumber:hover {
  background-color: rgb(87, 87, 87);
  border-radius: 5px;
  padding: 3px;
  color: #f0f0f0;
}
.colorColumn {
  width: 200px;
}

.colorCell {
  height: 70vh;
}

.container {
  display: flex;
  justify-content: center;
}

#colorpalette {
  margin-top: 1em;
}

#click {
  font-size: 0.85em;
  margin-top: 1em;

  text-align: center;
}

#flash {
  display: block;
  font-size: 0.85em;
  text-align: center;
  color: #b7053b;
  font-weight: 700;
  margin-top: 10px;
}

.dark-mode {
  background-color: #22272e;
  color: #f8f8f8;
}

input {
  border: none;
  height: 3em;
  box-shadow: 0 1px 2px rgba(71, 71, 71, 0.1);
}

button {
  font-family: "Mukta", sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  width: 10.25em;
  height: 2.5em;
  color: #374151;
  box-shadow: 0 1px 2px rgba(168, 168, 168, 0.1);
  background-color: #fff;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  cursor: pointer;
  transition: all 1s;
}

button:hover {
  background-color: #787878;
  color: #fff;
}

#moonBtn {
  padding: 10px;
  width: 3em;
}

@media (max-width: 420px) {
  #header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  #colorpalette {
    display: flex;
    flex-direction: column;
  }

  .colorCell {
    height: 10vh;
    width: 100vw;
    margin-top: 5px;
  }

  .hexNumber {
    text-align: left;
    margin-left: 5px;
  }

  /* #moon,
  #colorMode,
  #getColorBtn {
    margin-top: 10px;
  } */

  .hexNumber:hover {
    background-color: #f0f0f0;
    color: #be006f;
  }
  .dark-mode {
    background-color: #22272e;
    color: #be006f;
  }

  button {
    width: 5em;
  }
}
